.box{
    width: 75%;
    height: 75%;
}
.box .cabeçalho{
    height: 10%;
    width: 100%;
}
.box .cabeçalho ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box .cabeçalho ul li{
    padding: 0px 15px;
}

.formulario{
    background-color: RGBA(127,127,127,0.25);
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario form{
    width: 90%;
    height: 85%;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
}
form .entrada{
    margin: 5px 15px;
    width: 46%;
    display: flex;
    flex-direction: column;
}

@media(max-width: 1200px){
    .formulario{
        height: auto;
    }
    .formulario form{
        margin: 15px 0px;
        flex-direction: column;
        justify-content: center;
    }
    form .entrada{
        margin: 10px 15px;
        width: 70%;
    }   
}