<!DOCTYPE html>
<html>
    <head>
        <title>Tela de Login</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../global.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="formulario">
            <form action="http://localhost:3333/login" name="cadastro" method="POST">
                <div class="entrada">
                    <label for="matricula-email">E-mail/Matricula</label>
                    <input type="text" name="matricula" id="matricula-email" required/>
                </div>
                <div class="entrada">
                    <label for="senha">Senha</label>
                    <input type="text" name="senha" id="senha" required/>
                </div>
                <button>Conecte-se</button>
                <ul>
                    <li><a href="../rec_senha/rec_senha.html">Esqueci Minha Senha</a></li>
                    <li><a href="../home/home.html">Home</a></li>
                </ul>
            </form>
        </div>
    </body>
    <script>
        document.cadastro.onsubmit = e =>{
            e.preventDefault()
            const form = e.target
            const data = new FormData(form)
            const options ={
                method: form.method,
                body: new URLSearchParams(data)
            }
            fetch(form.action, options)
                .then(resp=> resp.json())
                .then(resp=>{
                    if(resp.erro){
                        alert(resp.erro)
                    }else{
                        for(i in resp){
                            localStorage.setItem(i, resp[i])
                        }
                        //se o erro não estiver settado então significa que o login foi feito com sucesso e podemos 
                        //passar para a proxima pagina
                        console.log(localStorage)
                        window.location.href = ('http://localhost:3333/innerAplication/tela_inicial/inicial.html')
                    }
                })
                .catch(e=>{
                    console.log(e)
                })
        }
    </script>
</html>