<!DOCTYPE html>
<html>
    <head>
        <title>Tela inicial</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <div class="logo">
            <a href="google.com">
                <i class="material-icons">local_dining</i>
                <span>Restaurante</span>
            </a>
        </div>
        <div class="barra_superior">
        </div>
        <div class="menu">
            <ul>
                <li class="matricula_e_foto">
                    <img src="img.jpg">
                    <span>matricula</span>
                </li>
                <li>
                    <a>
                        <i class="material-icons">settings</i>
                        <span>Preferências</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="material-icons">dns</i>
                        <span>Relatório</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="ausencias">
            <span>Ausências: </span><span class="contador_ausencias">1</span>
        </div>
        <div class="cardapio_e_opçoes">
            <div class="opçoes">
                <ul>
                    <li>
                        <button class="agendar">
                            <i class="material-icons">restaurant</i>
                        </button>
                        <div class="text-button">
                            <span>Agendar</span>
                            <span>### Vagas Restantes</span>
                        </div>
                    </li>
                    <li>
                        <button class="time">
                            <i class="material-icons">access_time</i>
                        </button>
                        <div class="text-button">
                            <span>Tempo Restante:</span>
                            <span>DD:HH:MM:SS</span>
                        </div>
                    </li>
                    <li>
                        <button class="cancelar">
                            <i class="material-icons">block</i>
                        </button>
                        <div class="text-button">
                            <span>Cancelar Reserva</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="cardapio">

            </div>
        </div>
    </body>
</html>